h2 {
    margin: 0;
}

.content2 {
    height: 500px;
    background-color: white;
}

.random-info {
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    color: #1F2937;
}

.boxes {
    display: flex;
    margin: 0 25%;
    justify-content: space-between;
}

.box1,
.box2,
.box3,
.box4 {
    border: 5px solid #3882F6;
    border-radius: 12px;
    width: 200px;
    height: 200px;
}

.box-text {
    display: flex;
    margin: 0 25%;
    justify-content: space-between;
}

p {
    margin: 0;
    color: gray;
    width: 210px;
    padding: 1% 0;
}