body {
    margin: 0;
    background-color: #1F2937;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    margin: 1% 20%;
    color: white;
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.tabs {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.tabs span {
    margin-left: 2%;
}

.tabs span a {
    color: #E5E7EB;
}